<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit profile</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div th:insert="fragments/navbar :: navbar"></div>

<div class="container">
  <h1>Edit profile</h1>

  <div class="avatar" onclick="document.getElementById('avatarInput').click();">
    <img th:src="@{/image/{uuid}(uuid=${userModel.avatar})}" width="100" height="100" alt="Аватар">
  </div>

  <form th:action="@{/user/{username}/update-avatar(username=${userModel.username})}" method="post" enctype="multipart/form-data" style="display:none;" id="avatarForm">
    <input type="file" name="file" id="avatarInput" accept="image/*" onchange="uploadAvatar()">
  </form>

  <form th:action="@{/user/{username}/edit(username=${userModel.username})}" method="post">
    <div class="form-group">
      <label for="firstName">Name:</label>
      <input type="text" id="firstName" name="firstName" th:value="${editUserForm.firstName}" required>
    </div>

    <div class="form-group">
      <label for="lastName">Last name:</label>
      <input type="text" id="lastName" name="lastName" th:value="${editUserForm.lastName}" required>
    </div>

    <button type="submit">Save changes</button>
  </form>
</div>

<script>
  function uploadAvatar() {
    const input = document.getElementById('avatarInput');
    if (input.files && input.files[0]) {
      document.getElementById('avatarForm').submit();
    }
  }
</script>

</body>
</html>
