<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои сделки</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div th:insert="fragments/navbar :: navbar"></div>

<h1 class="transaction-title">Мои сделки</h1>

<table class="transaction-table">
    <thead>
    <tr>
        <th>Тип</th>
        <th>Валюта</th>
        <th>Количество</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.typeOpp ? 'Покупка' : 'Продажа'}"></td>
        <td th:text="${transaction.currencyName}"></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${transaction.operationPrice}"></td>
    </tr>
    </tbody>
</table>

<div class="pagination-unique">
    <span th:if="${transactions.hasPrevious()}">
        <a class="pagination-link-unique" th:href="@{|transactions?page=${transactions.number - 1}|}">Назад</a>
    </span>
    <span th:each="i : ${#numbers.sequence(1, transactions.totalPages)}">
        <a class="pagination-link-unique" th:href="@{|transactions?page=${i - 1}|}" th:classappend="${i == transactions.number + 1} ? 'active'" th:text="${i}"></a>
    </span>
    <span th:if="${transactions.hasNext()}">
        <a class="pagination-link-unique" th:href="@{|transactions?page=${transactions.number + 1}|}">Вперёд</a>
    </span>
</div>

</body>
</html>
