<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div th:insert="fragments/navbar :: navbar"></div>

<div class="container">
    <h1>User profile</h1>

    <div class="user-info">
        <div class="avatar-container">
            <img th:src="@{/image/{uuid}(uuid=${userModel.avatar})}" class="avatar" alt="Аватар">
        </div>
        <h2 th:text="${userModel.firstName} + ' ' + ${userModel.lastName}" class="user-name">Имя Фамилия</h2>
        <p th:text="'@' + ${userModel.username}" class="username">@username</p>
    </div>

    <div class="button-container">
        <a th:href="@{/user/{username}/edit(username=${userModel.username})}"
           th:if="${isCurrentUser}"
           class="edit-button">Edit profile</a>
    </div>
</div>
</body>
</html>
