<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
</head>
<body>

<div th:insert="fragments/navbar :: navbar"></div>

<div class="charts-container currency-container">
    <!-- Цикл по криптовалютам для вывода данных и построения графиков -->
    <div th:each="currencyModel : ${currencyModels.content}" class="chart-item">
        <a th:href="@{/currency/{name}(name=${currencyModel.name})}" class="plain-link margin-left">
            <h3 th:text="${currencyModel.name}"></h3>
            <div class="chart-container">
                <canvas th:attr="id='chart-' + ${currencyModel.name}" width="300" height="150"></canvas>
            </div>
        </a>
    </div>
</div>

<script th:inline="javascript">
    var currencies = /*[[${currencyModels.content}]]*/ [];

    /* Функция для создания графиков для каждой валюты */
    currencies.forEach(currency => {
        const ctx = document.getElementById('chart-' + currency.name).getContext('2d');
        const labels = Object.keys(currency.pricesMap); // Метки по времени
        const data = Object.values(currency.pricesMap); // Исправлено, удалена лишняя точка

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: `Rate ${currency.name}`,
                    data: data,
                    borderColor: getRandomColor(),
                    borderWidth: 2,
                    fill: false,
                    pointRadius: 0,
                    tension: 0.4
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'hour',
                            tooltipFormat: 'YYYY-MM-DD HH:mm'
                        }
                    },
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });
    });

    /* Функция для генерации случайного цвета */
    function getRandomColor() {
        const letters = '0123456789ABCDEF';
        let color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
</script>

<div class="wallet-info-container">
    <h3>Currency</h3>
    <ul>
        <li th:each="wallet : ${fiatWallets}">
            <a th:href="@{/wallet}" class="plain-link">
                <span th:text="${wallet.currency.name}"></span> <span th:text="${wallet.amount}"></span>
            </a>
        </li>
    </ul>
</div>

<div class="crypto-wallet-info-container">
    <h3>Crypto wallets</h3>
    <ul>
        <li th:each="wallet : ${wallets}">
            <a th:href="@{/currency/{name}(name = ${wallet.getCurrency()})}" class="plain-link">
                <span th:text="${wallet.currency.name}"></span> <span th:text="${wallet.amount}"></span>
            </a>
        </li>
    </ul>
</div>

<div class="news-container">
    <h2>News</h2>
    <ul class="news-list">
        <li th:each="newsModel : ${newsModels}" class="news-item">
            <a th:href="${newsModel.link}" target="_blank" class="plain-link">
                <h4 th:text="${newsModel.title}"></h4>
                <p th:text="${newsModel.content}"></p>
                <small th:text="${#temporals.format(newsModel.createdAt, 'yyyy-MM-dd HH:mm')}"></small>
            </a>
        </li>
    </ul>
</div>

<div class="home-container">
    <div class="profile-header">
        <div class="avatar">
            <a th:href="@{/user/{username}(username=${authUser.username})}">
                <img th:src="@{/image/{uuid}(uuid=${authUser.avatar})}" width="100" height="100" alt="Аватар">
            </a>
        </div>
        <div class="user-info">
            <h1 th:text="${authUser.firstName} + ' ' + ${authUser.lastName}">
                Имя Фамилия</h1>
            <p th:text="'@' + ${authUser.username}">@username</p>
        </div>
    </div>
</div>
</body>
</html>
